:root {
  --primary-text-color: #fff;
  --primary-bg-color: #2a2a2a;
}

body {
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.03em;
}

.section {
  padding-top: 40px;
}

.wrapper {
  width: 500px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.content-circle {
  position: relative;
  left: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;

  animation: whiteCircle 3000ms linear 1000ms infinite alternate,
    redCircle 3000ms linear 1000ms infinite alternate;
}

.content:hover .content-circle {
  animation-play-state: paused, running;

  /* круг перескакивает на начало пути */
  /* animation-name: none; */
}

@keyframes whiteCircle {
  0% {
    left: 0;
  }

  50% {
    border-radius: 0%;
  }

  100% {
    left: 500px;
  }
}

@keyframes redCircle {
  0% {
    background-color: #fff;
  }

  50% {
    background-color: red;
  }

  100% {
    background-color: #fff;
  }
}
